<div class="tw-p-6 md:tw-p-0 md:lg:tw-py-7">
	<div class="embla_partner md:lg:!tw-max-w-screen-xl">
		<div class="embla_partner__viewport">
			<div class="embla_partner__container">
				<div class="embla_partner__slide">
					<img
						class="embla_partner__slide__img"
						src="./icons/partner/iata.webp"
						width="150"
						alt="1"
					/>
				</div>
				<div class="embla_partner__slide">
					<img
						class="embla_partner__slide__img"
						src="./icons/partner/kemenag.webp"
						width="150"
						alt="2"
					/>
				</div>
				<div class="embla_partner__slide">
					<img
						class="embla_partner__slide__img"
						src="./icons/partner/siskopatuh.webp"
						width="150"
						alt="3"
					/>
				</div>
				<div class="embla_partner__slide">
					<img
						class="embla_partner__slide__img"
						src="./icons/partner/saudi-welcome.webp"
						width="150"
						alt="4"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
