<div class="tw-p-6 tw-bg-[#ecf5f5] md:lg:tw-px-0 md:lg:tw-py-16">
	<div
		class="tw-grid tw-place-self-center md:lg:tw-grid-cols-12 md:lg:tw-gap-10 md:lg:tw-max-w-screen-xl"
	>
		<div class="md:lg:tw-col-span-12">
			<p class="tw-text-3xl tw-font-semibold tw-tracking-wide md:lg:tw-text-[40px] md:lg:tw-mb-6">
				Kenapa Harus Kami?
			</p>

			<p
				class="tw-text-base tw-mb-6 tw-tracking-wider tw-leading-7 md:lg:tw-text-xl md:lg:tw-max-w-screen-sm"
			>
				Membantu saudara muslim sebanyak-banyaknya untuk bisa berangkat Umrah & Haji dengan mudah
				dan nyaman.
			</p>
		</div>

		@for (item of whyUs; track $index) {
			<div class="tw-mb-10 md:lg:tw-col-span-4 md:lg:tw-mb-0">
				<img [src]="item.image" [alt]="item.image" loading="lazy" class="tw-mb-6" />

				<p class="md:lg:tw-text-2xl tw-text-lg tw-font-bold">
					{{ item.title }}
				</p>

				<p class="tw-text-base">
					{{ item.description }}
				</p>
			</div>
		}
	</div>
</div>
