<div class="tw-px-5 tw-bg-[#f4f4f4] md:lg:tw-px-0 tw-py-6 md:lg:tw-py-16">
	<div
		class="tw-grid tw-place-self-center md:lg:tw-grid-cols-12 md:lg:tw-gap-10 md:lg:tw-max-w-screen-xl"
	>
		<div class="md:lg:tw-col-span-12">
			<p class="tw-text-3xl tw-font-semibold tw-tracking-wide md:lg:tw-text-5xl">
				Kenapa Harus Kami?
			</p>

			<p class="tw-text-base tw-mb-6 tw-tracking-wider tw-leading-7 md:lg:tw-text-xl">
				Membantu saudara muslim sebanyak-banyaknya untuk bisa berangkat Umrah & Haji dengan mudah
				dan nyaman.
			</p>
		</div>

		@for (item of [1, 2, 3, 4, 5, 6]; track $index) {
			<div class="tw-mb-10 md:lg:tw-col-span-4 md:lg:tw-mb-0">
				<img
					src="./background/dummy-bg.svg"
					alt="Al Dorar Tour"
					width="104"
					height="104"
					loading="lazy"
					class="tw-mb-6"
				/>

				<p class="md:lg:tw-text-2xl tw-text-lg tw-font-bold">
					Berizin Resmi & Terintegrasi Siskopatuh Kemenag
				</p>

				<p class="tw-text-base">
					Berbagai Pilihan Paket untuk Ibadah yang Nyaman dan Sesuai Budget Anda
				</p>
			</div>
		}
	</div>
</div>
