<div
	class="!tw-bg-white tw-z-50"
	[class.tw-sticky]="isScrolled()"
	[class.tw-top-0]="isScrolled()"
	[class.tw-shadow]="isScrolled()"
>
	<mat-toolbar class="md:lg:tw-max-w-screen-xl tw-place-self-center !tw-h-20 !tw-bg-white">
		<button
			mat-icon-button
			class="tw-block md:lg:!tw-hidden tw-flex-auto"
			(click)="sidenavToggle.emit()"
		>
			<mat-icon>menu</mat-icon>
		</button>

		<img
			src="./company-logo.svg"
			alt="Al Dorar Tour"
			width="44"
			height="44"
			loading="lazy"
			class="tw-hidden md:lg:!tw-block"
		/>

		<div class="tw-mx-16 tw-flex-auto tw-hidden md:lg:!tw-block">
			<div class="tw-flex tw-gap-10">
				@for (menu of menus; track $index) {
					<div class="tw-text-sm">
						{{ menu.label }}
					</div>
				}
			</div>
		</div>

		<lib-button [config]="formConfig.freeConsultationButton()" />
	</mat-toolbar>
</div>
