<nav
	class="tw-bg-white tw-border-gray-200 tw-z-50"
	[class.tw-sticky]="isScrolled()"
	[class.tw-top-0]="isScrolled()"
	[class.tw-shadow]="isScrolled()"
>
	<div
		class="tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-max-w-screen-xl tw-mx-auto tw-p-4"
	>
		<a routerLink="/" class="tw-flex tw-items-center tw-space-x-3 rtl:tw-space-x-reverse">
			<img src="./company-logo.svg" alt="Al Dorar Tour" class="tw-h-8" loading="lazy" />
		</a>
		<div class="tw-flex tw-items-center md:lg:tw-order-2 tw-space-x-2 rtl:tw-space-x-reverse">
			<lib-button [config]="formConfig.freeConsultationButton()" />

			<button
				mat-icon-button
				class="tw-inline-flex tw-items-center tw-p-2 tw-w-10 tw-h-10 tw-justify-center tw-text-sm tw-text-gray-500 tw-rounded-lg md:lg:!tw-hidden hover:tw-bg-gray-100 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-gray-200"
				(click)="isOpenMenu.set(!isOpenMenu())"
			>
				<svg
					class="tw-w-5 tw-h-5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 17 14"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15"
					/>
				</svg>
			</button>
		</div>
		<div
			id="mega-menu"
			class="tw-items-center tw-justify-between tw-w-full md:lg:tw-flex md:lg:tw-w-auto md:lg:tw-order-1"
			[class.tw-hidden]="!isOpenMenu()"
		>
			<ul
				class="tw-flex tw-flex-col tw-mt-4 tw-font-medium md:lg:tw-flex-row md:lg:tw-mt-0 md:lg:tw-space-x-8 rtl:tw-space-x-reverse"
			>
				@for (menu of navigation(); track menu.label) {
					@if ((menu?.subMenu || []).length > 0) {
						<li>
							<button
								id="mega-menu-dropdown-button"
								data-dropdown-toggle="mega-menu-dropdown"
								class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-2 tw-px-3 tw-font-medium tw-text-gray-900 tw-border-b tw-border-gray-100 md:lg:tw-w-auto md:lg:tw-border-0 md:lg:tw-p-0"
							>
								{{ menu.label }}
								<svg
									class="tw-w-2.5 tw-h-2.5 tw-ms-3"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 10 6"
									(click)="menu.isOpened = !menu.isOpened"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 1 4 4 4-4"
									/>
								</svg>
							</button>
							<div
								id="mega-menu-dropdown"
								class="tw-absolute tw-z-10 tw-w-11/12 tw-text-sm tw-bg-white tw-border tw-border-gray-100 tw-rounded-lg tw-shadow-md md:lg:tw-w-auto"
								[class.tw-grid]="menu.isOpened"
								[class.tw-hidden]="!menu.isOpened"
							>
								<div class="tw-p-4 tw-pb-4 tw-text-gray-900">
									<ul class="tw-space-y-4" aria-labelledby="mega-menu-dropdown-button">
										@for (subMenu of menu?.subMenu; track subMenu.label) {
											<li>
												<span class="tw-text-[#101828]" (click)="onClickMenu(menu)">
													{{ subMenu.label }}
												</span>
											</li>
										}
									</ul>
								</div>
							</div>
						</li>
					} @else {
						<li>
							<span
								class="tw-block tw-py-2 tw-px-3 tw-text-[#101828] tw-border-b tw-border-gray-100 md:lg:tw-border-0 md:lg:tw-p-0 tw-cursor-pointer"
								aria-current="page"
								(click)="onClickMenu(menu)"
							>
								{{ menu.label }}
							</span>
						</li>
					}
				}
			</ul>
		</div>
	</div>
</nav>
