<div class="tw-px-5 tw-py-6 md:lg:lg:tw-px-0 md:lg:lg:tw-py-16">
	<div
		class="tw-grid tw-place-self-center md:lg:lg:tw-grid-cols-12 md:lg:lg:tw-gap-28 md:lg:lg:tw-max-w-screen-xl"
	>
		<div class="tw-mb-3 md:lg:lg:tw-col-span-6 md:lg:lg:tw-mb-0">
			<p
				class="tw-text-3xl tw-font-semibold tw-tracking-wide md:lg:lg:tw-text-[40px] md:lg:lg:tw-leading-[3rem]"
			>
				Paket Layanan Haji dan Umrah
			</p>
		</div>

		<div class="tw-place-self-center md:lg:lg:tw-col-span-6">
			<p class="tw-text-base tw-tracking-wider tw-leading-7 md:lg:lg:tw-text-xl">
				Jelajahi pilihan paket Haji dan Umrah terbaik dari Maktour. Tersedia layanan lengkap dengan
				fasilitas premium, bimbingan profesional, dan jadwal keberangkatan pasti.
			</p>
		</div>
	</div>

	<div
		class="tw-grid tw-mt-6 md:lg:lg:tw-grid-cols-12 md:lg:lg:tw-max-w-screen-xl md:lg:lg:tw-place-self-center md:lg:lg:tw-mt-10"
	>
		<div class="tw-flex tw-gap-3">
			<lib-button
				[config]="formConfig.servicePackageButton().umrohButton"
				(onClick)="onPackageChange('umroh')"
			/>
			<lib-button
				[config]="formConfig.servicePackageButton().hajjButton"
				(onClick)="onPackageChange('hajj')"
			/>
		</div>
	</div>

	<div
		class="tw-grid tw-place-self-center tw-my-6 md:lg:lg:tw-grid-cols-12 tw-gap-5 md:lg:lg:tw-gap-10 md:lg:lg:tw-max-w-screen-xl"
	>
		@for (item of [1, 2, 3]; track $index) {
			<div class="tw-border tw-border-solid tw-rounded-3xl md:lg:lg:tw-col-span-4">
				<img
					src="./background/dummy-bg.svg"
					alt="Al Dorar Tour"
					width="104"
					height="104"
					loading="lazy"
					class="tw-w-full tw-rounded-tl-3xl tw-rounded-tr-3xl"
				/>

				<div class="tw-p-6">
					<p class="tw-text-xl tw-font-bold md:lg:lg:tw-text-2xl tw-mb-3">
						UMROH PLUS THAIF AKHIR DESEMBER 2025 🌟
					</p>

					<p class="tw-flex tw-text-sm tw-font-normal tw-leading-7 tw-mb-2">
						<img src="./icons/calendar.svg" />
						05 Oktober 2025
					</p>

					<p class="tw-flex tw-text-sm tw-font-normal tw-leading-7 tw-mb-2">
						<img src="./icons/plane.svg" />
						Saudia
					</p>

					<p class="tw-flex tw-text-sm tw-font-normal tw-leading-7 tw-mb-2">
						<img src="./icons/schedule.svg" />
						9 Hari
					</p>

					<p class="tw-text-sm tw-font-normal tw-mt-4">Harga Mulai</p>

					<p class="tw-text-2xl tw-font-bold tw-text-[#ff3838]">Rp30.550.000</p>
				</div>
			</div>
		}
	</div>

	<div class="tw-grid tw-place-self-center md:lg:lg:tw-grid-cols-1 md:lg:lg:tw-max-w-screen-xl">
		<lib-button [config]="formConfig.readMoreButton()" />
	</div>
</div>
