<div class="tw-px-5 md:lg:tw-px-0 tw-py-6 md:lg:tw-py-16 tw-bg-[#f4f4f4]">
	<div
		class="tw-grid md:lg:tw-grid-cols-12 md:lg:tw-gap-10 md:lg:tw-max-w-screen-xl tw-place-self-center"
	>
		<div class="md:lg:tw-col-span-4 tw-mb-3 md:lg:tw-mb-0">
			<img src="./background/dummy-bg.svg" alt="Al Dorar Tour" loading="lazy" class="tw-w-full" />
		</div>

		<div class="md:lg:tw-col-span-8 tw-place-self-center">
			<h1 class="tw-text-3xl md:lg:tw-text-5xl tw-font-bold tw-tracking-wide tw-mb-4">
				Tentang Kami
			</h1>

			<p class="tw-text-base tw-tracking-wider tw-leading-7 tw-mb-4">
				Perkenalkan kami PT. UMI TOUR TRAVEL merupakan penyelenggara umroh dengan izin resmi dari
				Departemen Agama Republik Indonesia dengan no PPIU U.298/2020. PT UMI TOUR TRAVEL
				menyediakan paket perjalanan ibadah umrah mulai dari paket regular sampai dengan umrah VVIP
				bintang 5. Kami mempunyai standard pelayanan dengan Harga paket yang kompetitif. PT UMI TOUR
				TRAVEL juga melayani request paket pribadi atau korporat sesuai kebutuhan pelanggan dan
				mitra kami.
			</p>

			<lib-button [config]="formConfig.aboutUsButton()" />
		</div>
	</div>
</div>
