<div class="tw-px-5 tw-bg-[#f4f4f4] md:lg:tw-px-0 tw-py-6 md:lg:tw-py-16">
	<div
		class="tw-grid tw-place-self-center md:lg:tw-grid-cols-12 md:lg:tw-gap-10 md:lg:tw-max-w-screen-xl"
	>
		<div class="md:lg:tw-col-span-4 tw-mb-3 md:lg:tw-mb-0">
			<img src="./background/dummy-bg.svg" alt="Al Dorar Tour" loading="lazy" class="tw-w-full" />
		</div>

		<div class="tw-place-self-center md:lg:tw-col-span-8">
			<h1 class="tw-text-3xl tw-font-bold tw-tracking-wide tw-mb-4 md:lg:tw-text-4xl">
				Tentang Kami
			</h1>

			<p class="tw-text-lg tw-tracking-wider tw-leading-7 tw-mb-4">
				Perkenalkan kami PT. UMI TOUR TRAVEL merupakan penyelenggara umroh dengan izin resmi dari
				Departemen Agama Republik Indonesia dengan no PPIU U.298/2020. PT UMI TOUR TRAVEL
				menyediakan paket perjalanan ibadah umrah mulai dari paket regular sampai dengan umrah VVIP
				bintang 5. Kami mempunyai standard pelayanan dengan Harga paket yang kompetitif. PT UMI TOUR
				TRAVEL juga melayani request paket pribadi atau korporat sesuai kebutuhan pelanggan dan
				mitra kami.
			</p>

			<lib-button [config]="formConfig.aboutUsButton()" />
		</div>
	</div>
</div>
