<footer class="tw-p-5 tw-shadow tw-bg-[#e4e7ec] md:lg:tw-py-10">
	<div
		class="tw-grid tw-grid-cols-4 tw-place-self-center md:lg:tw-grid-cols-12 md:lg:tw-max-w-screen-xl"
	>
		<div class="tw-col-span-4 tw-mb-8 md:lg:tw-col-span-3 md:lg:tw-mb-0">
			<img src="./company-logo.svg" alt="Al Dorar Tour" width="44" height="44" loading="lazy" />

			<p class="tw-text-base tw-tracking-wide tw-leading-7 tw-mt-4">
				High level experience in web design and development knowledge, producing quality work.
			</p>
		</div>
		<div class="tw-col-span-2 md:lg:tw-col-span-3 md:lg:tw-place-self-center">
			<p class="tw-text-base tw-font-semibold tw-mb-3">Use Cases</p>

			<ul class="tw-text-sm tw-leading-9">
				<li>Web-designers</li>
				<li>Marketers</li>
				<li>Small Bussiness</li>
				<li>Website Builder</li>
			</ul>
		</div>
		<div class="tw-col-span-2 md:lg:tw-col-span-3 md:lg:tw-place-self-center">
			<p class="tw-text-base tw-font-semibold tw-mb-3">Company</p>

			<ul class="tw-text-sm tw-leading-9">
				<li>About Us</li>
				<li>Careers</li>
				<li>FAQs</li>
				<li>Contact Us</li>
			</ul>
		</div>
		<div
			class="tw-col-span-4 tw-place-self-center tw-h-full tw-mt-6 md:lg:tw-col-span-3 md:lg:tw-mt-0"
		>
			<p class="tw-text-base tw-font-semibold tw-text-center tw-mb-3 md:lg:tw-text-justify">
				Follow us
			</p>

			<div class="tw-flex tw-gap-4">
				@for (socmed of ['instagram', 'facebook', 'telegram']; track $index) {
					<img
						[src]="'./icons/socmed/' + socmed + '.svg'"
						[alt]="socmed"
						width="40"
						height="40"
						loading="lazy"
					/>
				}
			</div>

			<div></div>
		</div>
	</div>
</footer>
